@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    color:#426696;
    font-weight:600;
    font-size:3rem;
    opacity:0.8;
}
h2{
    color:#658ec6;
    font-weight:600;
    opacity: 0.8;
}
h3,
p{
    color:#426696;
    font-weight: 500;
    opacity: 0.8;

}

main{
    font-family: 'Roboto' sans-serif;
    min-height: 100vh;
    background:linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;

}
.user img,
.card img{
    width: 90px;
    height: 90px;
    opacity: 0.5;
    background-color:#333;
    border-radius: 50%;
}

.glass{
    background: #fff;
    min-height: 80vh;
    width:60%;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7),
     rgba(255, 255, 255, 0.3)
     
);
    border-radius:2rem;
    z-index:2;
    backdrop-filter: blur(2rem);
    display: flex;
}
.round1,
.round2{
    background: #fff;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.8),
     rgba(255, 255, 255, 0.3)
);
    height:20rem;
    width:20rem;
    position:absolute;
    border-radius: 50%;
    
}
.round1{
    top:-5%;
    right:15%;
}
.round2{
    left:10%;
    bottom:-15%;
}
.dashoard{
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7),
     rgba(255, 255, 255, 0.3)    
);
    border-radius: 2rem;
}
.link{
    display: flex;
    margin:2rem 0rem;
    padding:1rem 5rem;
    align-items: center;
}
.links h2{
    padding:0rem 1rem;
}
.games{
    flex:2;
}
.end{
    background:linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius:2rem;
    color:white;
    padding:1rem;   
    position:relative;
}
.end img{
    position:absolute;
    top:-10px;
    right:10%;
}
.end h2,
.end img{
    justify-content: center;
    width:40%;
    font-weight: 600;
    color:#fff;
}

.Status{
    margin-bottom: 3rem;
}

.Status input{
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.7),
     rgba(255, 255, 255, 0.3)    
);
border:none;
width:60%;
padding:0.5rem;
border-radius:2rem;

}

.games{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:5rem;
}

.card{
    display:flex;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.9)    
);
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    justify-content:space-between;
}
.progress{
    background:linear-gradient(to right top, #65dfc9, #6cdbeb); 
    width:100%;
    height:25%;
    border-radius:1rem;
    position:relative;
    overflow: hidden;
}
.progress::after{
    content:"";
    width:100%;
    height:100%;
    background:rgb(236, 236, 236);
    position:absolute;
    left:60%;
}
.card-info{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}